<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        ユーザー一覧
      </h1>
    </div>
  </div>
</section>

<div class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% @users.each do |user| %>
        <div class="column is-3">
          <div class="card">
            <div class="card-content">
              <div class="card-image">
                <figure class="image">
                  <%= link_to user_path(user) do %>
                    <%= attachment_image_tag user, :profile_image, fallback: "no.png", alt: "no" %>
                  <% end %>
                </figure>
              </div>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <div class="title"><%=link_to user.name, user_path(user) %></div>
                </div>
              </div>
              <div class="content">
                投稿数：<%= user.projects.count %> 件
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!--トップへ戻る-->
<div class="margin-center">
<%= link_to "このページのトップへ", users_path %>
</div>