<div class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        投稿詳細
      </h1>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              
              <%= image_tag @project.image.url if @project.image? %>
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4"><%= @project.title %></p>
              </div>
            </div>
            <div class="content">
              <table class="table is-narrow">
                <tr>
                  <th>本文</th>
                </tr>
                <tr>
                  <td><%= simple_format @project.body %></td>
                </tr>
              </table>
              <% if @project.user.id == current_user.id %>
                <%= link_to "編集画面へ", edit_project_path(@project), class: "button is-success" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
<!--article-->
      <div class="column is-4">
        <div class="panel is-link">
          <p class="panel-heading">
            名前： <%= @project.user.name %>
          </p>
          <div class="panel-block">
            <p class="control">
             プロフィール： <%= @project.user.profile %>
            </p>
          </div>
          <%= link_to user_path(@project.user), class: "panel-block" do %>
            <span class="panel-icon">
              <i class="fas fa-user" aria-hidden="true"></i>
            </span>
            <%= @project.user.name %> さんのページへ
          <% end %>
        </div>
        <!--article-->
      </div>
    </div>
  </div>
</div>

